<form name="userForm" novalidate class="row">
    <div class="col col-xs-5"
         ng-class="{
            'has-error':
                userForm.name.$dirty
                    && userForm.name.$invalid
                    && !userForm.name.$isEmpty(userForm.name.$viewValue) }">

        <input name="name" type="text" class="form-control" title="Host name" placeholder="Host name"
               ng-model="hosts.new.name" unique="{list: hosts.list, key: 'name'}" required>

    </div>
    <div class="col col-xs-5"
         ng-class="{
            'has-error':
                userForm.url.$dirty
                    && userForm.url.$invalid
                    && !userForm.url.$isEmpty(userForm.url.$viewValue) }">
        <input name="url" type="text" class="form-control" title="Host url" placeholder="IP:port"
               ng-model="hosts.new.url" unique="{list: hosts.list, key: 'url'}" required>
    </div>
    <div class="col col-xs-1">
        <input type="submit" class="add-host" value=""
               ng-click="hosts.addHost(hosts.new)" ng-disabled="userForm.$invalid">
    </div>
</form>

<ul class="row host-list">
    <li class="row host"
         ng-repeat="host in hosts.list track by host.url | orderBy:'-createdAt'">

        <input id="hostRadio-{{host.url}}" name="hostRadio-{{host.url}}" type="radio" class="radio-check"
               value="{{host.url}}"
               ng-model="hosts.model.selectedUrl"
               ng-change="hosts.saveSelected(host);">
        <label for="hostRadio-{{host.url}}">
            {{host.name}} - {{host.url}}
            <button class="btn btn-warning btn-xs remove-btn"
                    ng-click="hosts.removeHost(host, $index)">x
            </button>
        </label>

    </li>
</ul>