html, body {
    overflow: hidden;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-kerning: normal;
}

html, body, div[ui-view], .container {
    width: 100%;
    height: 100%;
    padding: 0;
}

div[ui-view], .container {
    top: auto;
    bottom: auto;
}

div[ui-view].layout {
    padding: 5px;
}