<div class="container-fluid">
    <header class="navbar navbar-default navbar-fixed-top collapsible"
            ng-class="{ active: screen.panels.configurator.visible }">
        <div class="nav" configurator></div>

        <button class="collapsing-handler down"
                ng-click="screen.toggleConfig(screen.panels.configurator.visible)">
            Configure
        </button>
    </header>

    <div ng-repeat="plugin in screen.plugins">
        <a class="btn" ui-sref="plugin({ plugin: plugin.name })">{{ plugin.button ? plugin.button.text : plugin.name }}</a>
    </div>

    <div ui-view class="plugin-view"
         ng-class="{ inactive: !screen.pluginView.active() }"
         ng-click="screen.pluginView.makeActive()"></div>

    <footer class="navbar navbar-default navbar-fixed-bottom collapsible"
            ng-class="{ active: screen.panels.commandSender.visible }">

        <button class="collapsing-handler up"
                ng-click="screen.toggleCommandSender(screen.panels.commandSender.visible)">
            Command
        </button>
        <div command-sender class="nav"></div>
    </footer>
</div>