.command-sender .form-group  {
    margin-bottom: 0;
}

.command-sender {
    margin-bottom: 0;
    margin-top: 0;
}

div[dynamic-view] {
    width: 100%;
    height: 100%;
    top: auto;
    bottom: auto;
}