<div class="row">
    <div class="row">

        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <button class="form-control btn btn-info"
                    ng-click="main.send('{UP}')" style="margin: 10px 0;">{UP}
            </button>
        </div>
        <div class="col-xs-4"></div>

    </div>

    <div class="row">
        <div class="col-xs-4">
            <button class="form-control btn btn-success"
                    ng-click="main.send('{LEFT}')" style="margin: 10px 0;">{LEFT}
            </button>
        </div>
        <div class="col-xs-4">
            <button class="form-control btn btn-danger"
                    ng-click="main.send('{ENTER}')" style="margin: 10px 0;">{ENTER}
            </button>
        </div>
        <div class="col-xs-4">
            <button class="form-control btn btn-success"
                    ng-click="main.send('{RIGHT}')" style="margin: 10px 0;">{RIGHT}
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <button class="form-control btn btn-info"
                    ng-click="main.send('{DOWN}')" style="margin: 10px 0;">{DOWN}
            </button>
        </div>
        <div class="col-xs-4"></div>

    </div>

    <div class="row">

        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <button class="form-control btn btn-primary btn-ellipse btn-xl"
                    ng-click="main.send('{SPACE}')" style="margin: 10px 0;">Play/Pause
            </button>
        </div>
        <div class="col-xs-3"></div>

    </div>
</div>