Use selected host or create new one:

<form name="userForm" novalidate class="form-inline">
    <div class="form-group"
         ng-class="{ 'has-error': userForm.name.$invalid }">

        <input name="name" type="text" class="form-control"
               ng-model="main.new.name" unique="{list: main.hosts, prop: 'name'}" required>

    </div>
    <div class="form-group"
         ng-class="{ 'has-error': userForm.url.$invalid }">
        <input name="url" type="url" class="form-control"
               ng-model="main.new.url" unique="{list: main.hosts, prop: 'url'}" required>
    </div>
    <input type="submit" class="form-control btn btn-info"
           ng-click="main.addHost(main.new)" ng-disabled="userForm.$invalid" value="Add">
</form>

<div>
    <div ng-repeat="host in main.hosts">

        <div class="input-group">
            <div class="radio">
                <label>
                    <input name="hostRadio" type="radio" value="{{host}}" ng-model="selected">
                    {{host.name}} - {{host.url}}
                </label>
            </div>
            <!--<span class="input-group-btn">-->
            <button class="btn btn-default btn-xs"
                    ng-click="main.removeHost(host)">x</button>
            <!--</span>-->
        </div>
    </div>
</div>